# Gateway Configuration (optional)
TCP_PORT=5070
HTTP_PORT=3001
DB_PATH=./db.json

# PostgreSQL sink (optional)
PG_ENABLED=true
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=spcdb
PGUSER=spc
PGPASSWORD=1234
